body, html{
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    letter-spacing:20px;
}

/*Navbar*/

#navbar{
    position: relative;
    z-index:1;
}

.navbar-brand{
    font-size: 1rem;
    margin: 1%;
    letter-spacing:10px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    z-index:1;
}

.container-fluid{
    padding: 0;
    background-color: #9b0000;
    position: relative;
    z-index:1;
    font-weight:300;
}

.nav-item{
    letter-spacing: 0px;
    padding-right: 4rem;
    padding-left: 4rem;
}

@media (max-width: 950px){
    .navbar-brand{
        font-size: 0.8rem;
    }
}

@media (max-width: 620px){
    .navbar-brand{
        font-size: 0.8rem;
        letter-spacing:5px;
    }
}

/*Title Section*/

#title{
    position: relative;
    z-index:1;
}

.big-heading{
    position: absolute;
    font-weight: 900;
    font-size: 600%;
    color:#9b0000;
    z-index:2;
    top:0;
    margin-left: 7%;
    margin-top: 3%;
    font-size: 450%;
}

.ProgrArmor{
    position: absolute;
    font-weight: 300;
    font-size: 600%;
    color:black;
    z-index:2;
    top:50%;
    margin-left: 7%;
    font-size: 300%;
}

.background-img{
    position: relative;
    width:100%;
}

.background-img-phone{
    position: relative;
    width:190%;
    display:none;
}

@media (max-width: 1200px){
    .big-heading{
        font-size:300%;
    }

    .ProgrArmor{
        font-size:200%;
    }
}

@media (max-width: 950px){
    .big-heading{
        font-size:225%;
        letter-spacing:10px;
    }

    .ProgrArmor{
        font-size:150%;
        letter-spacing:10px;
        top:35%;
    }

    .background-img{
        display:none;
    }

    .background-img-phone{
        display:inline;
    }
}

@media (max-width: 620px){
    .big-heading{
        font-size:175%;
        letter-spacing:10px;
        margin-top:10%;
        margin-right:1%;
    }

    .ProgrArmor{
        font-size:150%;
        letter-spacing:5px;
        top:30%;
    }

    .background-img{
        display:none;
    }

    .background-img-phone{
        display:inline;
    }
}

/*Show section*/

.triangle-rouge {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 2000px solid transparent;
  border-right: 2000px solid transparent;
  border-bottom: 2000px solid #9b0000;
  top: -1100%;
  left: 200px;
  transition: 1s
}

.right:hover .triangle-rouge{
    left: -220%;
}

.right{
    position: absolute;
    right:0;
    text-align:right;
    margin-right: 7%;
    margin-top: 3%;
}

.right .text-right{
    position: relative;
    z-index:1;
    visibility: hidden;
    opacity: 0;
    transition:visibility 1.5s linear,opacity 1.5s linear;
    color: black;
}

.right:hover .text-right{
    visibility: visible;
    opacity:1;
}

.right .results-img{
    z-index:1;
    visibility: hidden;
    opacity: 0;
    transition:visibility 1.5s linear,opacity 1.5s linear;
}

.right:hover .results-img{
    visibility: visible;
    opacity:1;
}

.left{
    position: absolute;
    left:0;
    color: #9b0000;
    margin-left: 7%;
    margin-top: 3%;
    z-index:-1
}

#show{
    font-weight: 900;
    top:100px;
    font-size: 400%;
}

.performances-img{
    margin-top: 3%;
    width: 70%;
}

.performances-img-phone{
    margin-top: 3%;
    width: 90%;
    display:none;
}

.results-img{
    margin-top: 6%;
    position: absolute;
    right: 0;
    width:110%;
}

.results-img-phone{
    margin-top: 16%;
    position: absolute;
    margin-right: -3%;
    right: 0;
    width: 135%;
    display: none;
}

@media (max-width: 1440px){
    .triangle-rouge{
      top: -800%;
    }

    .right:hover .triangle-rouge{
        left: -240%;
    }
}

@media (max-width: 1200px){
    #show{
        font-size: 300%;
    }

    .triangle-rouge{
      border-left: 1500px solid transparent;
      border-right: 1500px solid transparent;
      border-bottom: 1500px solid #9b0000;
      top: -1000%;
    }

    .right:hover .triangle-rouge{
        left: -170%;
    }

    .performances-img{
        width:80%;
    }

    .results-img{
        width: 100%;
        margin-right: -1%;
    }
}

@media (max-width: 950px){
    #show{
        font-size: 250%;
        letter-spacing: 10px;
    }

    .triangle-rouge{
        top:-1200%;
    }
}

@media (max-width: 620px){
    #show{
        font-size:175%;
        letter-spacing:10px;
        margin-top:10%;
        margin-right:1%;
    }

    .triangle-rouge{
        top:-1800%;
    }

    .right:hover .triangle-rouge{
        left: -370%;
    }

    .performances-img{
        display:none;
    }

    .performances-img-phone{
        display:inline;
    }

    .results-img{
        display:none;
    }

    .results-img-phone{
        display:inline;
        width:207%;
    }

    .right:hover .results-img-phone{
        visibility: visible;
        opacity:1;
    }

    .right .results-img-phone{
        z-index:1;
        visibility: hidden;
        opacity: 0;
        transition:visibility 2s linear,opacity 2s linear;
    }
}

@media (max-width: 420px){
    #show{
        font-size:175%;
        letter-spacing:10px;
        margin-top:10%;
        margin-right:1%;
    }

    .triangle-rouge{
        top:-1600%;
    }

    .right:hover .triangle-rouge{
        left: -210%;
    }

    .performances-img{
        display:none;
    }

    .performances-img-phone{
        display:inline;
    }

    .results-img{
        display:none;
    }

    .results-img-phone{
        display:inline;
        width:110%;
    }

    .right:hover .results-img-phone{
        visibility: visible;
        opacity:1;
    }

    .right .results-img-phone{
        z-index:1;
        visibility: hidden;
        opacity: 0;
        transition:visibility 2s linear,opacity 2s linear;
    }
}

/*GET ARMED*/

#get-armed{
    position: absolute;
    text-align: right;
    background-color: #9b0000;
    top: 235%;
    right: 0;
    width: 100%;
    height: 100%;
}

.get-armed-title{
    position: relative;
    text-align:right;
    margin-right: 7%;
    margin-top: 3%;
    margin-left: 30%;
    font-weight: 900;
    color: black;
    font-size: 400%;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin: 3%;
    margin-right: 0;
}

.email-button{
    margin-top: 3%;
    margin-right: 8%;
}

.email-text{
    position: absolute;
    right: 0;
    margin-top: 2.8%;
    margin-right: 25.5%;
    width: 70%;
    height: 10%;
}

.email-input{
    width: 50%;
    height: 60%;
}

@media (max-width: 1440px){
    #get-armed{
        top:195%;
    }
}

@media (max-width: 1120px){
    #get-armed{
        top:160%;
    }

    .email-text{
        margin-right: 32%;
    }
}

@media (max-width: 620px){
    #get-armed{
        top:237%;
        height:80%;
    }

    .get-armed-title{
        font-size:175%;
        letter-spacing:10px;
        margin-top:10%;
        margin-right:1%;
    }

    .email-button{
        margin-right: 9%;
        margin-top: 9%;
    }

    .email-text{
        position: relative;
        left: -59%;
        width: 150%;
        margin-top: 10%;
    }
}

@media (max-width: 420px){
    #get-armed{
        top:175%;
        height: 90%;
    }

    .get-armed-title{
        font-size:175%;
        letter-spacing:10px;
        margin-top:10%;
        margin-right:1%;
    }

    .email-button{
        margin-right: 9%;
        margin-top: 9%;
    }

    .email-text{
        position: relative;
        left: -59%;
        width: 150%;
        margin-top: 10%;
    }
}

/*Footer*/

#footer{
    position: absolute;
    top: 320%;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
    background-color: #9b0000
}

@media (max-width: 1440px){
    #footer{
        top:285%;
    }
}

@media (max-width: 1120px){
    #footer{
        top:250%;
    }
}

@media (max-width: 420px){
    #footer{
        top:250%;
    }
}
